// ---------- HEADER ---------- //

.header {
    width: 100%;
}

.header__container {
    height: 75px;
}

.logo {
    flex-basis: 15%;
}

.logo__img {
    display: block;
    width: 100%;
    max-width: 75px;
    max-height: 75px;
}

.languages {
    flex-basis: 15%;
    max-width: 150px;
}

.language:hover {
    text-decoration: underline;
}

// ---------- MAIN ---------- //}

.main__container {
    margin: 20px 0;
}

.wrapper {
    margin: 0 auto;
    padding: 0 40px; /////// vista pequeña
}

.section {
    margin: 20px 0;
}

.title {
    font-size: 2rem; // <--------- convertir a variable
    text-align: center;
    margin-bottom: 1rem;
}

// ---------- ABOUTME ---------- //

.aboutme__photo {
    margin: 0 auto;
    width: 70%;
}

.aboutme__photo-img {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 380px;
    object-fit: cover;
}

.aboutme__description-text {
    text-align: justify;
    font-size: 1.125rem; // <--------- convertir a variable
}

// ---------- MY PROJECTS ---------- //

.project {
    margin: 20px 20px;
    flex-basis: 100%; // <-------------small view
    border-radius: 10px;
    overflow: hidden;
}

.project__image {
    position: relative;
    overflow: hidden;
}

.project__image::before {
    text-align: center;
    font-size: 1.125rem; // <------- convertir a variable
    color: white;

    font-family: 'Font Awesome\ 5 Free';
    content: "\f002 Visit";
    font-weight: 900;
 
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    transition: all 300ms;
}

.project__image:hover::before {
    top: 90%;
}

.project__image-img {
    display: block;
    width: 100%;
    min-height: 200px;
}

.project__description {
    background-color: #DDD; // <--------- convertir a variable
    min-height: 100px;
}

.project__description-text {
    font-size: 1.125rem; // <--------- convertir a variable
    text-align: center;
}

.project__technologies {
    background-color: #DDD; // <--------- convertir a variable
    min-height: 50px;
    max-height: 50px;
}

.technology {
    flex-basis: 33.33%;
    text-align: center;
    line-height: 45px;
}

.technology:not(:last-child) {
    border-right: 1px solid #CCC; // <--------- convertir a variable
}

// ---------- MY SKILLS ---------- //

.skill {
    margin: 0 auto 2rem auto;
    position: relative;

    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    background: linear-gradient(0deg, black 50%, rgba(#000, .5) 50%);
}

.skill__progress, .skill__technology {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    text-align: center;
}

.skill__technology {
    background: linear-gradient(transparent 50%, white 50%); // <----- convertir a variable
    transform: scale(1.1);
    z-index: 1;
}

.skill__technology-text {
    line-height: 10rem;
    text-transform: uppercase;
}

.skill__progress {
    padding: 1rem;
    line-height: 10rem;
    box-sizing: border-box;
    background: white content-box; // <-------- convertir a variable
}

.skill__progress-text {
    line-height: 10rem;
}

// ---------- CONTACT ---------- //

.social, .copyright {
    margin: 0 auto;
    width: 80%;
    max-width: 800px;
}

.copyright-text {
    font-size: 1.2rem;
    text-align: center;
}

.social__icon {
    font-size: 2.5rem; // <----------- cambiar a variable
}
// ---------- FONT AWESOME ICONS ---------- //
.fa-envelope {
    color: #F6C800;
}

.fa-facebook-square {
    color: #4064AC;
}

.fa-instagram-square {
    background: linear-gradient(45deg, #feda75, #fa7e1e, #d62976, #962fbf, #4f5bd5);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.fa-linkedin {
    color: #0073B1;
}

// ---------- DARK MODE ICON ---------- //
.darkmode {
    position: fixed;
    bottom: 15px;
    right: 15px;
    font-size: 3rem; // <---------- cambiar a variable
    cursor: pointer;
}

.fa-cloud-moon {
    color: #f6b400;
}

.fa-cloud-moon:hover {
    color: #0042f6;
}

.fa-cloud-sun {
    color: #0042f6;
}

.fa-cloud-sun:hover {
    color: #f6b400;
}