// ---------- HEADER ---------- //
.header__container {
    height: 75px;
    padding-top: 10px;
    background-color: $primaryColor;
    transition: $transition;
}

.logo {
    flex-basis: 15%;
}

.logo__img {
    display: block;
    width: 100%;
    max-width: 75px;
    max-height: 75px;
}

.svg {
    stroke: black;
}

.svg-text {
    font-weight: bold;
    font-family: serif;
    stroke: none;
}

.languages {
    flex-basis: 15%;
    max-width: 150px;
}

.language {
    font-size: $font18px;

    &:hover {
        text-decoration: underline;
    }
}

// ---------- MAIN ---------- //

.main__container {
    margin-top: $margin20px;
}

.wrapper {
    margin: 0 auto;
    padding: 0 $wrapper;
}

.section {
    margin-top: $margin20px;
}

.title {
    font-size: $font32px;
    text-align: center;
    margin-bottom: $margin32px;
}

// ---------- ABOUTME ---------- //

.aboutme__photo {
    margin: 0 auto;
    width: 70%;
}

.aboutme__photo-img {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 380px;
    object-fit: cover;
}

.aboutme__description-text {
    margin: $margin32px auto;
    max-width: 1000px;
    text-align: justify;
    font-size: $font24px;
    line-height: $line-h32px;
    
}

// ---------- MY PROJECTS ---------- //

.project {
    margin: 0 $margin12px;
    margin-bottom: $margin12px;
    border-radius: 10px;
    overflow: hidden;
    max-width: 380px;
}

.project__image {
    position: relative;
    overflow: hidden;

    &::before {
        text-align: center;
        font-size: $font18px;
        color: white;

        font-family: 'Font Awesome\ 5 Free';
        content: "\f002 Visit";
        font-weight: 900;

        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.7);
        transition: all 300ms;
    }

    &:hover::before {
        top: 90%;
    }
}

.project__image-img {
    display: block;
    width: 100%;
    max-width: 380px;
    max-height: 300px;
}

.project__description {
    background-color: $primaryColor;
    min-height: 100px;
    transition: $transition;
}

.project__description-text {
    font-size: $font18px;
    text-align: center;
}

.project__technologies {
    background-color: $primaryLight;
    min-height: 50px;
    max-height: 50px;
    transition: $transition;
}

.technology {
    flex-basis: 33.33%;
    text-align: center;
    line-height: $line-h50px;

    &:not(:last-child) {
        border-right: 1px solid $primaryDark;
        transition: $transition;
    }
}

// ---------- MY SKILLS ---------- //

.skill {
    margin: $margin12px;
    margin-top: 0;
    position: relative;

    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    background: linear-gradient(0deg, $primaryColor 50%, rgba($primaryColor, .5) 50%);
    transition: $transition;
}

.skill__progress, .skill__technology {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    text-align: center;
}

.skill__technology {
    background: linear-gradient(transparent 50%, white 50%);
    transform: scale(1.1);
    z-index: 1;
    transition: $transition;
}

.skill__technology-text {
    line-height: $line-h160px;
    text-transform: uppercase;
}

.skill__progress {
    padding: 1rem;
    box-sizing: border-box;
    background: white content-box;
    transition: $transition;
}

.skill__progress-text {
    line-height: $line-h160px;
}

// ---------- CONTACT ---------- //

.footer {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: $primaryColor;
}

.social, .copyright {
    margin: $margin20px auto;
    margin-bottom: 0;
    width: 80%;
    max-width: 800px;
}

.copyright-text {
    font-size: $font20px;
    line-height: $line-h32px;
    text-align: center;
    margin-bottom: 0;
}

// ---------- FONT AWESOME ICONS ---------- //
.social__icon {
    font-size: $fontawesomeicons;
}

.fa-envelope {
    color: #F6C800;
}

.fa-facebook-square {
    color: #4064AC;
}

.fa-instagram-square {
    background: linear-gradient(45deg, #feda75, #fa7e1e, #d62976, #962fbf, #4f5bd5);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.fa-linkedin {
    color: #0073B1;
}

// ---------- DARK MODE ICON ---------- //
.darkmode {
    position: fixed;
    z-index: 10;
    bottom: 15px;
    right: 15px;
    font-size: $darkmodeicon;
    cursor: pointer;
}

.fa-cloud-moon {
    color: #0042f6;

    &:hover {
        color: #f6b400;
    }
}

.fa-cloud-sun {
    color: #f6b400;
    
    &:hover {
        color: #0042f6;
    }
}
