//margins
$margin12px: .75rem;
$margin20px: 1.25rem;
$margin32px: 2rem;

//fonts
$font18px: 1.125rem;
$font20px: 1.25rem;
$font24px: 1.5rem;
$font32px: 2rem;

//line height
$line-h32px: 2rem;
$line-h50px: 3.125rem;
$line-h160px: 10rem;

//icons
$fontawesomeicons: 2.5rem;
$darkmodeicon: 3rem;

//wapprer
$wrapper: 2.5rem;

//transition
$transition: all 300ms ease;