body {
    background-color: #1188B6;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Crimson Text', serif;
    @media (min-width: 768px) {
        height: 100vh;
    }
}

.main-container {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    background-color: white;
}

.flex-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @media (min-width: 768px) { //medium size according to bootstrap
        flex-direction: row;
    }
}

.container {
    width: 100%;
    padding: 10px 20px;
    box-sizing: border-box;
}

.titles {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (min-width: 768px) {
        align-items: flex-start;
        margin-bottom: 1rem;
    }
}

.title {
    font-size: 2rem;
}

.image {
    position: relative;
}

.image::after {
    content: '';
    width: 45%;
    height: 15%;
    position: absolute;
    bottom: 2%;
    left: 50%;
    z-index: 0;
    
    background-color: rgba(0,0,0,0.5);
    border-radius: 50%;
    filter: blur(12px);
    transform: rotateX(0deg) translateX(-50%);
    
    @media(min-width: 768px) {
        width: 55%;
    }
}


.image-img {
    position: relative;
    display: block;
    width: 100%;
    max-width: 250px;
    margin: auto;
    height: auto;
    z-index: 1;
    
    @media (min-width: 768px) {
        width: 90%;
        max-width: unset;
    }
}

// ---------- FORM ---------- //

.form {
    width: 90%;
    max-width: 450px;
    margin: 0 auto;
}

.form-title {
    font-size: 1.8rem;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: .5rem;
}

.form-label {
    font-size: 1.2rem;
}

.form-input {    
    padding: .5rem;
    background-color: #CCC;
    border: none;
    border-radius: 1rem;
    font-size: 1.1rem;

    &:focus {
        outline: none;
        border: 2px solid #1188B6;
    }

    &.error {
        border: 2px solid red;
    }
}

.textarea {
    resize: none;
}

.form-error {
    color: red;
}

.form-submit {
    width: 100%;
    padding: .5rem;
    background-color: #1188B6;
    color: white;
    font-size: 1.1rem;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
}

// ---------- SOCIAL ICONS ---------- //

.social {
    width: 90%;
    margin: 30px auto;
    text-align: center;
}

.icon {
    text-decoration: none;
    color: #222;
    font-size: 2.5rem;
}

.social__icon {
    margin: 0 5px;
}

.fa-facebook-square {
    color: #4064AC;
}

.fa-instagram-square {
    background: linear-gradient(45deg, #feda75, #fa7e1e, #d62976, #962fbf, #4f5bd5);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.fa-linkedin {
    color: #0073B1;
}

// ---------- BACK BUTTON ---------- //

.back-btn {
    position: fixed;
    bottom: 0;
    font-size: 2rem;
    color: #222;
    
    &:hover {
        color: black;
    }

    @media (min-width: 768px) {
        font-size: 1.5rem;
        bottom: unset;
        top: 10px;
        left: 10px;
        color: white;

        &:hover {
            color: #222;
            text-decoration: underline;
        }
    }
}

.isHidden {
    visibility: hidden;
    @media (min-width: 768px) {
        visibility: visible;
    }
}